/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*
 * *** You can say something about your file if you need it!
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author
 * Last Modified Date
 *
 */
/*-------------------------*/
/* $Catalog
---------------------------*/
/**
 * Catalog
 * Base
 * Header
 * Text
 * Icon
 * Side nav
**/

/*-------------------------*/
/* $Base
---------------------------*/
.wrapper{
	background-image: url('../image/bg5.jpg');
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
.empt-block{
	height: 80px;
}
.container{
	padding: 24px;
	background-image: url('../image/witewall_3.png');
	box-shadow: 3px 3px 8px rgb(0,0,0,0.3);
}
.container:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #F5F8FF;
	opacity: 0.3;
}
.said-bar{
	position: absolute;
	top: 0;
	left: 48px;
	width: 36px;
	height: 61.2em;
	background: linear-gradient(to top, rgba(125,126,125,1) 0%,rgba(53,54,48,1) 100%);
}
.u-mt-md{
	margin-top: 50px;
}
.u-mt-sm{
	margin-bottom: 24px;
}
.u-pl-md{
	padding-left: 84px;
}
.col-sm-pull{
    right: 50%;
  }
.col-sm-push{
    left: 33.33333333%;
}
.col-md-pull{
	right: -3%;
}
.col-md-push{
	left: 16.66666667%;
}
@media (max-width: 768px){
	.u-mt-sm{margin-bottom: 40px;}
	.u-mt-dev{margin-bottom: 30px;}
	.empt-block{height: 40px;}
	.container{width: 95%;}
}

/*-------------------------*/
/* $Header
---------------------------*/
.pb-row{padding-bottom: 24px;}
.cv-block{
	position: relative;
	background-color: #353630;
	padding-top: 75%;
	width: 100%;
	overflow: hidden;
}
.cv-block > h1{
	font-family: 'Raleway',"Helvetica", "Roboto", "Arial", sans-serif;
	color: #F5F8FF;
	position: absolute;
	bottom: -24px;
	right: -14px;
}
.photo-group{
	text-align: left;
}
.photo-group .img-fluid{
	width: 30%;
	padding-bottom: 30px;
}
.cv-photo{
	height: 100%;
}
.name-group{
	text-align: left;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 12px;
	margin-left: 8px;
}
.name-group > h1{
	margin:0;
	font-size: 78px;
}
.name-group .name-sedtitle{
	margin-bottom: 24px;
	color: #6A6B65;
	font-size: 20px;
}
.name-group .name-sedtitle:before{
	content: "";
	height: 4px;
	width: 150px;
	background-color: #3F5B75;
	position: absolute;
	left: 0;
	bottom: -6px;
}

@media (max-width: 767px){
	.photo-group .name-group > h1{font-size: 42px;}
	.photo-group .name-group > h5{font-size: 16px;}
	.photo-group .name-group .name-sedtitle:before{height: 3px;width: 100px;}
	.photo-group{text-align: center;}
	.cv-block{padding-top: 15%;}
	.cv-block > h1{
		font-size: 36px;
		bottom: -18px;
		right: -8px;
	}
}
@media (max-width: 812px){
	.cv-block > h1{
		letter-spacing: 2px;
		font-size: 36px;
		bottom: -18px;
		right: -8px;
	}
}
@media (min-width:812px) and (max-width:991px){
	.cv-block > h1{
		letter-spacing: 2px;
		font-size: 36px;
		bottom: -18px;
		right: -8px;
	}
}
@media (min-width:575px) and (max-width:767px){
	.cv-block{padding-top: 80%;}
	.cv-block > h1{
		font-size: 30px;
		bottom: -18px;
		right: -8px;
	}
}

/*-------------------------*/
/* $Text
---------------------------*/
a{
  text-decoration: none;
  color: #353630;
}
a:hover,
a:focus{
  text-decoration: none;
}
p{
	color: #5B5C55;
	margin-bottom: 0;
  	font-family: "Noto Sans TC", "Helvetica", "Roboto", "Arial", sans-serif;
}
h1{
	letter-spacing: 6px;
  	color: #353630;
  	font-weight: 900;
  	font-size: 56px;
}
h3{
	font-family: 'Raleway',"Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 36px;
	font-weight: 900;
	letter-spacing: 4px;
	margin-bottom: 16px;
  	color: #353630;
  	display: block;
  	text-align: center;
  	margin-top: 60px;
  	margin-bottom: 60px;
}
h5{
	font-family: 'Raleway',"Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 4px;
	margin-bottom: 16px;
  	color: #353630;
}
h5.name-sedtitle{
	color: #5B5C55;
}
.sed-title,
.thr-title{
  	color: #494A43;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 26px;
}
.thr-title{
	margin-bottom: 2px;
	margin-top: 16px;
	font-weight: 600;
	color: #6A6B65;
}
/*contact*/
.contact-info{
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 10px;
	font-family: 'Raleway',"Helvetica", "Roboto", "Arial", sans-serif;
	font-weight: 600;
}
.contact-info__text{
	transition: all 0.3s;
}
.contact-info > a{
	color: #5B5C55;
	vertical-align: middle;
}
.contact-info > i{
	color: #5B5C55;
}
.contact-info .contact-info__text:hover{
	color: #3F5B75;
}


/*experience*/
.testborder{
	border: 2px solid blue;
}
.exp-group{
  	color: #353630;
  	display: inline-block;
  	margin-bottom: 42px;
}
.job__text{
	letter-spacing: 4px;
	font-weight: 700;
	margin-bottom: 8px;
	font-size: 17px;
}
.job__text > span{
	font-family: 'Playfair Display',"Helvetica", "Roboto", "Arial", sans-serif;
	letter-spacing: 2px;
}
.exp__br{
	font-size: 10px;
}
.comp__text{
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 17px;
}
.exp-group > ul{
	font-size: 16px;
	margin: 4px;
	padding-top: 6px;
}
.exp-group > ul > li{
	margin-bottom: 4px;
}

.exp-group > ul > li > span{
	color: #5B5C55;
}

/*Skills*/
.skills-group > h5{
	margin-bottom: 24px;
}
.skills-group > h6{
	color: #565651;
}
.skills-group .skills-text{
	font-weight: 700;
	line-height: 26px;
	vertical-align: middle;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
}
.skills-group .skills-text:after{
	content: "";
	position: absolute;
	bottom: -4px;
	left: 18px;
	border-bottom: 5px solid #A7A8A3;
	width: 200px;
	overflow: hidden;
}
.skills-group .skill-percent-ps:after{width: 150px;}
.skills-group .skill-percent-ai:after{width: 100px;}
.skills-group .skill-percent-pr:after{width: 120px;}
.skills-group .skill-percent-ae:after{width: 40px;}
.skills-group .skill-percent-html:after{width: 120px;}
.skills-group .skill-percent-css:after{width: 90px;}
.skills-group .skill-percent-jq:after{width: 40px;}
@media (max-width: 768px){

}

.skills-group > p > span{
	font-size: 10px;
	line-height: 26px;
	margin-right: 12px;
}
.skills-group .icon{
	font-size: 6px;
	color: #5B5C55;
	margin-right: 8px;
}
.skills-group .sed-title{
	margin-top: 44px;
	margin-bottom: 8px;
}
.sed-title.title-sm{
	margin-top: 0;
	margin-bottom: 8px
}
.tec__text{
	margin-bottom: 14px;
}
.web-design-group{
	margin-top: 20px;
}
.graphic-design-group{
	margin-top: 30px;
}
/*-------------------------*/
/* $icon
---------------------------*/
.icon{
	font-size: 18px;
	font-weight: 900;
	margin-right: 22px;
	line-height: 22px;
	vertical-align: middle;
}


/*-------------------------*/
/* $work
---------------------------*/
.works-group{
	text-align: right;
}
.works-group-left{
	text-align: left;
}
.work-item__text{
	display: inline-block;
	text-align: left;
	background-color: #273440;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 80px;
}
.work-item__text-left{
	text-align: right;
	padding-left: 80px;
	padding-right: 36px;
}
.work-item-textgroup{
	overflow: hidden;
}
.work-item__title{
	font-size: 30px;
  	font-family: "Noto Sans TC", "Helvetica", "Roboto", "Arial", sans-serif;
  	color: #fff;
  	margin-left: 16px;
  	font-weight: 900;
}
.work-item__info{
	margin-left: 16px;
	color: #fff;
}

@media (max-width: 768px){
	.col-sm-pull,.col-md-pull{right: 0;}
	.col-sm-push,.col-md-push{left: 0;}
	.works-group,.works-group-left{text-align: center;}
	.work-item__text{
		padding:0;
		background-color: inherit;
		text-align: center;
	}
	.work-item__title,.work-item__info{color: #353630;}
	.work-item__title{
		font-size: 18px;
		margin-top: 8px;
	}
	.work-item__info{display: none;}
}

/*image*/
.image{
	width: 100%;
	display: block;
	transition: all 0.2s;
}
.imgbox{
	width: 100%;
	overflow: hidden;
}
.imgbox__inner{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.imgbox__inner.imgbox__inner--4-3{
	padding-top: calc(100% * 11 / 21);
}
.imgbox__inner .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top;
}
.imgbox .image:hover{
	box-shadow:1px 1px 10px 1px rgba(0,0,0,0.3) inset;
}
.imgbox .image-wbs:hover{
	box-shadow:1px 1px 10px 1px rgba(255,255,255,0.5) inset;
}
/*-------------------------*/
/* $Button
---------------------------*/
.back-top-btn{
	padding-top: 48px;
	margin-bottom: 48px;
	text-align: center;
}
.top-btn{
	font-size: 24px;
	font-weight: 700;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 60px;
	padding-right: 60px;
	border: 2px solid #353630;
	border-radius: 40px;
	transition: all 0.3s;
}
.back-top-btn .top-btn:hover{
	color: #F5F8FF;
	background-color: #353630;
}

@media (max-width: 768px){
	.back-top-btn{
		padding-top: 0;
		margin-bottom: 14px;
	}
	.top-btn{
		font-size: 16px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 24px;
		padding-right: 24px;
	}
}